MONGO_INITDB_ROOT_USERNAME=bdia_admin
MONGO_INITDB_ROOT_PASSWORD=bdia_local_pass
MONGO_DATABASE=bdia_clase4
MONGO_LISTEN_PORT=27017

ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin_local
MONGO_EXPRESS_LISTEN_PORT=8081
